src/mt310s2d/mt310s2d.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


<xs:simpleType name="yesnotype">
    <xs:restriction base="xs:integer">
        <xs:maxInclusive value='1'/>
        <xs:minInclusive value='0'/>
    </xs:restriction>
</xs:simpleType>


<xs:simpleType name="debugtype">
    <xs:restriction base="xs:integer">
        <xs:maxInclusive value='7'/>
        <xs:minInclusive value='0'/>
    </xs:restriction>
</xs:simpleType>


<xs:simpleType name="porttype">
    <xs:restriction base="xs:integer">
        <xs:maxInclusive value='60000'/>
        <xs:minExclusive value='1024'/>
    </xs:restriction>
</xs:simpleType>


<xs:simpleType name="ipadresstype">
    <xs:restriction base="xs:string">
        <xs:pattern value = '(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)'/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="nodetype">
    <xs:restriction base="xs:string"/>
</xs:simpleType>


<xs:simpleType name="i2cadresstype">
    <xs:restriction base="xs:integer">
        <xs:maxInclusive value='127'/>
        <xs:minInclusive value='32'/>
    </xs:restriction>
</xs:simpleType>


<xs:simpleType name="ctrlchanneltype">
    <xs:restriction base="xs:integer">
        <xs:maxInclusive value='12'/>
        <xs:minInclusive value='1'/>
    </xs:restriction>
</xs:simpleType>


<xs:simpleType name="dspinputchanneltype">
    <xs:restriction base="xs:integer">
        <xs:maxInclusive value='31'/>
        <xs:minInclusive value='0'/>
    </xs:restriction>
</xs:simpleType>


<xs:simpleType name="overloadbittype">
    <xs:restriction base="xs:integer">
        <xs:maxInclusive value='15'/>
        <xs:minInclusive value='-1'/>
    </xs:restriction>
</xs:simpleType>


<xs:simpleType name="dspfpzchanneltype">
    <xs:restriction base="xs:integer">
        <xs:maxInclusive value='3'/>
        <xs:minInclusive value='0'/>
    </xs:restriction>
</xs:simpleType>


<xs:complexType name="connectivitytype">
    <xs:sequence>
        <xs:element name="debuglevel" type="debugtype"/>
        <xs:element name="ethernet">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="ipadress">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="resourcemanager" type="ipadresstype"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="port">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="protobufserver" type="porttype"/>
                                <xs:element name="scpiserver" type="porttype"/>
                                <xs:element name="resourcemanager" type="porttype"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="scpiactive" type="yesnotype"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="i2c-systemctrl">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="device">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="node" type="nodetype"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="adress">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="atmel" type="i2cadresstype"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="i2c">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="device">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="node" type="nodetype"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="adress">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="atmel" type="i2cadresstype"/>
                                <xs:element name="clampmux" type="i2cadresstype"/>
                                <xs:element name="flash" type="i2cadresstype"/>
                                <xs:element name="clampflash" type="i2cadresstype"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="fpga">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="device">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="node" type="nodetype"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

        <xs:element name="ctrl">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="device">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="node" type="nodetype"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

    </xs:sequence>
</xs:complexType>


<xs:complexType name="sensechanneltype">
    <xs:sequence>
        <xs:element name="alias1" type="xs:string"/>
        <xs:element name="ctrlchannel" type="ctrlchanneltype"/>
        <xs:element name="dspchannel" type="dspinputchanneltype"/>
        <xs:element name="overloadbit" type="overloadbittype"/>
        <xs:element name="avail" type="xs:boolean"/>
    </xs:sequence>
</xs:complexType>


<xs:complexType name="samplechannelltype">
    <xs:sequence>
        <xs:element name="alias" type="xs:string"/>
        <xs:element name="avail" type="xs:boolean"/>
    </xs:sequence>
</xs:complexType>


<xs:complexType name="fpzoutchannelltype">
    <xs:sequence>
        <xs:element name="alias" type="xs:string"/>
        <xs:element name="dspserver" type="porttype"/>
        <xs:element name="dspchannel" type="dspfpzchanneltype"/>
        <xs:element name="avail" type="xs:boolean"/>
    </xs:sequence>
</xs:complexType>


<xs:complexType name="fpzinchannelltype">
    <xs:sequence>
        <xs:element name="alias" type="xs:string"/>
        <xs:element name="avail" type="xs:boolean"/>
    </xs:sequence>
</xs:complexType>


<xs:complexType name="scheadchannelltype">
    <xs:sequence>
        <xs:element name="alias" type="xs:string"/>
        <xs:element name="avail" type="xs:boolean"/>
    </xs:sequence>
</xs:complexType>


<xs:complexType name="hkeychannelltype">
    <xs:sequence>
        <xs:element name="alias" type="xs:string"/>
        <xs:element name="avail" type="xs:boolean"/>
    </xs:sequence>
</xs:complexType>


<xs:element name="mt310s2dconfig">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="connectivity" type="connectivitytype"/>

            <xs:element name="resource">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sense">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="m0" type="sensechanneltype"/>
                                    <xs:element name="m1" type="sensechanneltype"/>
                                    <xs:element name="m2" type="sensechanneltype"/>
                                    <xs:element name="m3" type="sensechanneltype"/>
                                    <xs:element name="m4" type="sensechanneltype"/>
                                    <xs:element name="m5" type="sensechanneltype"/>
                                    <xs:element name="m6" type="sensechanneltype"/>
                                    <xs:element name="m7" type="sensechanneltype"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="sample">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="s0" type="samplechannelltype"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="source">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="fpzout">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="fo0" type="fpzoutchannelltype"/>
                                                <xs:element name="fo1" type="fpzoutchannelltype"/>
                                                <xs:element name="fo2" type="fpzoutchannelltype"/>
                                                <xs:element name="fo3" type="fpzoutchannelltype"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="frqinput">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="fi0" type="fpzinchannelltype"/>
                                    <xs:element name="fi1" type="fpzinchannelltype"/>
                                    <xs:element name="fi2" type="fpzinchannelltype"/>
                                    <xs:element name="fi3" type="fpzinchannelltype"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="schead">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sh0" type="scheadchannelltype"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="hkey">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="hk0" type="hkeychannelltype"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema> 
